
.terrazafoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 60%; /* Ajuste de ancho para mejor visibilidad */
    height: 240px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(186, 147, 147, 0.2);
}
.jardinfoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 80%; /* Ajuste de ancho para mejor visibilidad */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.reservaofoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 40%; /* Ajuste de ancho para mejor visibilidad */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.comedorfoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 80%; /* Ajuste de ancho para mejor visibilidad */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* Imagen de fondo centrada */
.terrazafoto img,
.jardinfoto img,
.comedorfoto img,
.reservaofoto img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Estilos para los botones de las mesas */
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Clases para los botones de mesas según el estado */
.btn-verde {
    background-color: #28a745;
}
.btn-verde:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.btn-rojo {
    background-color: #dc3545;
}
.btn-rojo:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

/* Posicionamiento de los botones de las mesas dentro de la imagen */


/* Estilo para el título */
h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
/* Contenedor para centrar el botón debajo de la imagen */
.volver-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos del botón "Volver a salas" */
.back {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.back:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}