
#btn_1{
    
}
#btn_2{
    
}
#btn_3{
    
}
#btn_4{
    
}
#btn_5{
    
}
#btn_6{
    
}

#btn_7{
    
}

#btn_8{
    
}

#btn_9{
    position: absolute;
    top: 22%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_10{
    position: absolute;
    top: 43.7%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_11{
    position: absolute;
    top: 63.8%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_12{
    position: absolute;
    top: 22%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_13{
    position: absolute;
    top: 43.7%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_14{
    position: absolute;
    top: 63.8%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_15{
    position: absolute;
    top: 22%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_16{
    position: absolute;
    top: 43.7%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_17{
    position: absolute;
    top: 63.8%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_18{
    position: absolute;
    top: 42.8%;
    left: 45.4%;
    width: 7.3%;
    height: 12.5%;
    z-index: 1;
    color: transparent !important;
}

#btn_19{
    
}

#btn_20{
    
}

#btn_21{
    
}

#btn_22{
    
}

#btn_23{
    
}

#btn_24{
    
}

#btn_25{
    
}

#btn_26{
    
}

#btn_27{
    
}

#btn_28{
    
} 


.contenedor {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor>h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.terrazafoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 15%; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(186, 147, 147, 0.2);
}

.jardinfoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 80%; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.reservaofoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 30%; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.comedorfoto {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 20%; 
    height: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Imagen de fondo centrada */
.terrazafoto img,
.jardinfoto img,
.comedorfoto img,
.reservaofoto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos para los botones de las mesas */
form button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    height: 150px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Clases para los botones de mesas según el estado */
.btn-verde {
    background-color: #28a746dc;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-verde:hover {
    transform: scale(1.05);
}

.btn-rojo {
    background-color: rgba(255, 0, 0, 0.618);
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-rojo:hover {
    transform: scale(1.05);
}

/* Estilo para el título */
h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
/* Contenedor para centrar el botón debajo de la imagen */
.volver-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    
}

/* Estilos del botón "Volver a salas" */
.back {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.back:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}